<h1>welcome {{name}}</h1>
<h3>Employee Id: {{employee.id}}</h3>
<h3>Employee Name: {{employee.name}}</h3>
<h3>Employee Salary: {{employee.salary|currency}}</h3>
<h3>Employee Date Of Birth: {{employee.dateOfBirth|date}}</h3>
<h3> Permanent:<span *ngIf="employee.permanent; else elseBlock">Yes</span>
    <ng-template #elseBlock>No</ng-template><span></span>
</h3>
<h3>Department Id: {{department.id}}</h3>
<h3>Department Name: {{department.name}}</h3>
<h3>Skills</h3>
<h4 *ngFor="let skill of skills">
    <span>{{skill.id}} :</span>
    <span>{{skill.name}} </span>
</h4>