
Name: <input type="text" [formControl]="name">
{{name.value}}
<div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert">
<span *ngIf="name.errors.required">
    Name is required.
</span>
  <span *ngIf="name.errors.minlength">
    Name must be at least 4 characters long.
  </span>
  </div>
  <div>
    Salary: <input type="number" [formControl]="salary">
    {{salary.value}}
    <div *ngIf="salary.invalid && (salary.dirty || salary.touched)"
        class="alert">
    <span *ngIf="salary.errors.required">
        Salary is required.
    </span>
      <span *ngIf="salary.errors.min">
        salary must be at least 2000 rs .
      </span>
      <span *ngIf="salary.errors.max">
        salary must be at less than 1000000 rs .
      </span>
      </div>
      <div>

    Department:
    
    <select  [(ngModel)]="department">
    
    <option *ngFor="let dep of departments"
    
    [ngValue]="dep"
    
    [selected]="dep.id ===department.id">
    
    {{dep.name}}
    
    </option>
    
    </select>
    </div>

    <button value="submit" [disabled]="name.invalid||salary.invalid">submit</button>
    
    </div>
   