<body>

<nav>
    <ul>
      <li>
      <a disabled>Employee Details</a>
    </li>
    <li>
        <a routerLink="/view-emp">View-Emp</a>      
    </li>
    <li>
      <a routerLink="/edit-emp">Edit-Emp</a>      
    </li>
  <li>
    <a routerLink="/quality-inc">Quality-Increment</a>      
  </li>
  <!-- <li>
    <a routerLink="/modify-emp">Modify-Emp-valid</a>      
  </li> -->
  <li>
    <a routerLink="/emp-list">Employees</a>      
  </li>
  <li>
    <a routerLink="/user-list">Users</a>      
  </li>
  <li>
    <a routerLink="/login">Login</a>      
  </li>
  </ul>

  </nav>

<router-outlet></router-outlet>

</body>